h2{
text-align: center;
background-color: brown;
}

span{
   font-size: xx-large; 
}

button{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
}