<section class="container">

    <div class="game-container">
        <div class="score">Score: {{ score }}</div>
        <div class="high-score">High Score: {{ highScore }}</div>
        <div class="canvas" [style.width.px]="canvasWidth" [style.height.px]="canvasHeight">
            <div class="snake" *ngFor="let part of snake" [style.left.px]="part.x * squareSize"
                [style.top.px]="part.y * squareSize"></div>
            <div class="food" [style.left.px]="food.x * squareSize" [style.top.px]="food.y * squareSize"></div>
            <div class="game-over" *ngIf="gameOver">Game Over</div>
        </div>
        <button (click)="startGameWithButton()">Start Game</button>
    </div>

</section>