<section class="container">

  <article class="cont__imgLink">

    <img  class="imgLink" src="../../assets/img/imgDados.png"  alt="" (click)="onImageClick()"> 

    <!--<div class="container__fav">
      <button class="favorite" (click)="AgregarAFavorito()">Añadir a favoritos</button>
    </div>-->

  </article>

  <article class="cont__imgLink">
  
    <a class="link__a" href=""> <img class="imgLink" src="" alt=""> </a>

    <!--<div class="container__fav">
      <button class="favorite" (click)="AgregarAFavorito()">Añadir a favoritos</button>
    </div> -->

  </article>

  <article class="cont__imgLink">
  
    <a class="link__a" href=""> <img class="imgLink" src="" alt=""> </a>

    <!--<div class="container__fav">
      <button class="favorite" (click)="AgregarAFavorito()">Añadir a favoritos</button>
    </div>-->

  </article>

  <article class="cont__imgLink">
  
    <a class="link__a" href=""> <img class="imgLink" src="" alt=""> </a>

    <!--<div class="container__fav">
      <button class="favorite" (click)="AgregarAFavorito()">Añadir a favoritos</button>
    </div>-->

  </article>

</section>


<!-- 
<div>
  <div class="card">

    <img class="image" [src]="" alt="">
    <div class="caption">
      <div class="title">Juego de dados</div>
      <div class="sub-title">{{dataEntrante.subtitulo}}</div>
      <br>

      <button class="favorite" (click)="AgregarAFavorito()">Jugar juego</button>

    </div>

    <div class="card">

      <img class="image" [src]="" alt="">
      <div class="caption">
        <div class="title">piedrapapeltijera</div>
        <div class="sub-title">{{dataEntrante.subtitulo}}</div>
        <br>

        <button class="favorite" (click)="AgregarAFavorito()">Añadir a Favoritos</button>

      </div>
      <div class="card">

        <img class="image" [src]="" alt="">
        <div class="caption">
          <div class="title">piedrapapeltijera</div>
          <div class="sub-title">{{dataEntrante.subtitulo}}</div>
          <br>

          <button class="favorite" (click)="AgregarAFavorito()">Añadir a Favoritos</button>

  </div>
</div>
-->