<section class="container">
    <div class="menu__container">

        <nav class="title__nav">

            <h1 class="title">Gam<span id="offset">eSphe</span>re</h1>

        </nav>

        <nav class="menu__nav">
            <a class="link link--inicio" routerLink="inicio">Inicio</a>
        
            <a class="link link--dados" routerLink="juegoDeDados">Triple Fortuna</a>

            <a class="link link--PPT" routerLink="piedrapapeltijera">Piedra, papel y tijera</a>

            <a class="link link--snakegame" routerLink="snakegame">Snake Game</a>

        </nav>

    </div>
</section>

<router-outlet></router-outlet>