<section class="container">
    <div class="menu__container">
        <nav class="menu__nav">
            <a class="link link--inicio" routerLink="inicio">Inicio</a>
        
            <a class="link link--dados" routerLink="juegoDeDados">Juego de Dados</a>

            <a class="link link--PPT" routerLink="piedrapapeltijera">Piedra, papel o tijera</a>

            <a class="link link--PPT" routerLink="snakegame">Snake game</a>

        </nav>
    </div>
</section>

<router-outlet></router-outlet>